USE [master]
GO
/****** Object:  Database [medicaldb]    Script Date: 9/27/2026 7:45:06 PM ******/
CREATE DATABASE [medicaldb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'medicaldb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\medicaldb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'medicaldb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\medicaldb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [medicaldb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [medicaldb]
GO
/****** Object:  Table [dbo].[MedicalRecords]    Script Date: 9/27/2026 7:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecords](
	[RecordId] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NULL,
	[Diagnosis] [nvarchar](max) NOT NULL,
	[Prescription] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 9/27/2026 7:45:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[NIC] [varchar](15) NOT NULL,
	[ContactNumber] [varchar](15) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[BloodGroup] [varchar](5) NOT NULL,
	[Gender] [varchar](10) NOT NULL,
	[RegisteredDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/27/2026 7:45:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Role] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MedicalRecords] ON 

INSERT [dbo].[MedicalRecords] ([RecordId], [PatientId], [Diagnosis], [Prescription], [CreatedDate]) VALUES (1, 1, N'Testing Diagnosis', N'Testing Prescription', CAST(N'2026-08-03T09:11:07.460' AS DateTime))
INSERT [dbo].[MedicalRecords] ([RecordId], [PatientId], [Diagnosis], [Prescription], [CreatedDate]) VALUES (2, 1, N'test', N'afa', CAST(N'2026-08-03T09:17:03.817' AS DateTime))
INSERT [dbo].[MedicalRecords] ([RecordId], [PatientId], [Diagnosis], [Prescription], [CreatedDate]) VALUES (3, 1, N'raBT9RLZk56bcA/1FaVaKA==', N'O0Ub6l9KtB+FYs2fwZXF4A==', CAST(N'2026-08-03T09:32:16.727' AS DateTime))
SET IDENTITY_INSERT [dbo].[MedicalRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([PatientId], [FullName], [NIC], [ContactNumber], [Email], [Address], [BloodGroup], [Gender], [RegisteredDate]) VALUES (1, N'Nuwan', N'199324100400', N'0750891059', N'nhasanka1993@gmail.com', N'Jaela', N'O+', N'Male', CAST(N'2026-08-03T08:32:54.090' AS DateTime))
INSERT [dbo].[Patients] ([PatientId], [FullName], [NIC], [ContactNumber], [Email], [Address], [BloodGroup], [Gender], [RegisteredDate]) VALUES (2, N'Sahan Hasanka', N'199324398300', N'0750894056', N'sahan@gamil.com', N'jaeal', N'O-', N'Male', CAST(N'2026-08-03T08:38:25.013' AS DateTime))
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Password], [Role]) VALUES (1, N'doctor', N'doc123', N'Doctor')
INSERT [dbo].[Users] ([UserId], [Username], [Password], [Role]) VALUES (2, N'admin', N'admin123', N'Admin')
INSERT [dbo].[Users] ([UserId], [Username], [Password], [Role]) VALUES (3, N'nuwan', N'1q4vHmxb8HYGY4oxSgw9hg==', N'Admin')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Patients__C7DEC3332EBEB7FE]    Script Date: 9/27/2026 7:45:07 PM ******/
ALTER TABLE [dbo].[Patients] ADD UNIQUE NONCLUSTERED 
(
	[NIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E439867815]    Script Date: 9/27/2026 7:45:07 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MedicalRecords] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Patients] ADD  DEFAULT (getdate()) FOR [RegisteredDate]
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([PatientId])
GO
USE [master]
GO
USE [medicaldb];
GO

CREATE TABLE ReportTemplates (
    TemplateID INT IDENTITY(1,1) PRIMARY KEY,
    TemplateName VARCHAR(100) NOT NULL,
    IsActive BIT DEFAULT 1
);
GO

CREATE TABLE TemplateFields (
    FieldID INT IDENTITY(1,1) PRIMARY KEY,
    TemplateID INT FOREIGN KEY REFERENCES ReportTemplates(TemplateID),
    FieldName VARCHAR(100) NOT NULL,
    FieldType VARCHAR(20) NOT NULL CHECK (FieldType IN ('Numeric', 'Boolean', 'Text')),
    MinValue DECIMAL(10,2) NULL,
    MaxValue DECIMAL(10,2) NULL,
    Unit VARCHAR(20) NULL,
    NormalBoolean VARCHAR(20) NULL
);
GO

CREATE TABLE PatientReports (
    ReportID INT IDENTITY(1,1) PRIMARY KEY,
    PatientID INT FOREIGN KEY REFERENCES Patients(PatientId),
    TemplateID INT FOREIGN KEY REFERENCES ReportTemplates(TemplateID),
    DoctorID INT FOREIGN KEY REFERENCES Users(UserId),
    ReportDate DATETIME DEFAULT GETDATE()
);
GO

CREATE TABLE ReportResults (
    ResultID INT IDENTITY(1,1) PRIMARY KEY,
    ReportID INT FOREIGN KEY REFERENCES PatientReports(ReportID),
    FieldID INT FOREIGN KEY REFERENCES TemplateFields(FieldID),
    EncryptedValue NVARCHAR(MAX) NOT NULL
);
GO
